<br>
<div class="logo">
	<span>忘记密码</span>
</div>
<form class="form">
	<br>
	<div class="input-group">
		<span class="input-group-addon">用户名</span> 
		<input type="text" name="username" ng-model="user.username" class="form-control" id="username" placeholder="请输入用户名" />
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">新密码</span> 
		<input type="password" name="password" ng-model="user.password" class="form-control" id="password" placeholder="请输入新密码" />
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">确认新密码</span> 
		<input type="password" name="password" ng-model="user.password" class="form-control" id="password" placeholder="请再次输入新密码" />
	</div>
	<br>
	<div class="btn-group btn-group-justified" role="group">
		<a class="btn btn-default" role="button" ng-click="reset()">重置</a> 
		<a class="btn btn-default" role="button" ng-click="register()">修改</a>
	</div>
</form>
<br>
<div style="text-align: center;">
	<a ui-sref="login">返回登录</a>
</div>