<form class="form">
	<br>
	<div class="input-group">
		<span class="input-group-addon">用户名</span> 
		<input type="text" name="username" ng-model="user.username" class="form-control" id="username" placeholder="请输入用户名" />
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">密码</span> 
		<input type="password" name="password" ng-model="user.password" class="form-control" id="password" placeholder="请输入密码" />
	</div>
	<br>
	<div class="btn-group btn-group-justified" role="group">
		<a class="btn btn-default" role="button" ng-click="reset()">重置</a> 
		<a class="btn btn-default" role="button" ng-click="register()">注册</a>
	</div>
</form>