<div class="alert alert-danger" role="alert" ng-show="!success && errorMsg !== ''">{{errorMsg}}</div>
<br>
<div class="logo">
	<span>忘记密码</span>
</div>
<form class="form">
	<br>
	<div class="input-group">
		<span class="input-group-addon">用户名</span> 
		<input type="text" ng-model="username" class="form-control" placeholder="请输入用户名" required />
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">新密码</span> 
		<input type="password" ng-model="password" class="form-control" placeholder="请输入新密码" required />
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">确认新密码</span> 
		<input type="password" ng-model="password1" class="form-control" placeholder="请再次输入新密码" required />
	</div>
	<br>
	<div class="btn-group btn-group-justified" role="group">
		<a class="btn btn-default" role="button" ng-click="reset()">重置</a> 
		<a class="btn btn-default" role="button" ng-click="modify()">修改</a>
	</div>
</form>
<br>
<div style="text-align: center;">
	<a ui-sref="login">返回登录</a>
</div>