<div class="alert alert-danger" role="alert" ng-show="!success && errorMsg !== ''">{{errorMsg}}</div>
<br>
<div class="logo">
	<span>快速开发平台-Web</span>
</div>
<form class="form">
	<br>
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="glyphicon glyphicon-user"></span>
		</span> 
		<input type="text" ng-model="username" class="form-control" placeholder="请输入用户名" required />
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon"> 
			<span class="glyphicon glyphicon-lock"></span>
		</span> 
		<input type="password" ng-model="password" class="form-control" placeholder="请输入密码" required />
	</div>
	<div class="checkbox">
		<label> 
			<input type="checkbox" ng-model="remember" />&nbsp;记住我
		</label>
	</div>
	<div class="btn-group btn-group-justified" role="group">
		<a class="btn btn-default" role="button" ng-click="reset()">重置</a> 
		<a class="btn btn-default" role="button" ng-click="login()">登录</a>
	</div>
</form>
<br>
<div style="text-align: center;">
	<a ui-sref="register">注册用户</a>&nbsp;|&nbsp;<a ui-sref="forget-password">忘记密码？</a>
</div>
